mapa_profundidade/
retificacao/

*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff

*.avi
*.mp4
*.mov
*.mkv
*.webm

*.zip
*.tar
*.tar.gz
*.tgz
*.tar.xz
*.7z
*.rar

venv/
.venv/
env/

__pycache__/
*.pyc
*.pyo
*.pyd

.vscode/
